.container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 240px;
}

.details {
  display: flex;
  gap: 20px;
  color: #8585AD;
}

.detailItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}